body
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(11, 109, 195);
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid wheat;
    margin: 0 auto;
}